@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('../images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
    color: white;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    
}

header{
    height: 180px;
    width: 100%;
    max-width: 1200px;
}


.logotipo{
    width: 200px;
    margin-top: 40px;
    margin-left: 100px;
}

.section-main{
    display: flex;
    justify-content: center;
}
.imagen-main{
    margin-right: 50px;
}

.imagen-main img{
    width: 600px;
}

.article-div{
    width: 500px;
}

.article-div h1{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.article-div article{
    margin-bottom: 30px;
}

.section-main .boton{
    margin: 20px 0px;
}

.section-main .boton a{
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    padding: 15px 60px;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
}

.footer-section{
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.footer-section div{
    margin: 0 10px;
}

footer i{
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .imagen-main img{
        width: 500px;
    }
    
    .article-div{
        width: 400px;
    }
}

@media screen and (max-width: 768px){
    header{
        height: 120px;
    }


    .logotipo{
        width: 150px;
        margin-top: 20px;
        margin-left: 50px;
    }


    .imagen-main{
        margin-right: 25px;
    }

    .imagen-main img{
        width: 400px;
    }
    
    .article-div{
        width: 320px;
    }
    .article-div p{
        font-size: 20px;
    }
    .section-main .boton a{
        padding: 10px 60px;
    }
    .footer-section{
        margin-right: 70px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px){

    body{
        background-image: url("../images/bg-mobile.svg");
    }

    .logotipo{
        width: 140px;

    }
    .section-main{
        flex-wrap: wrap;
        
    }

    .imagen-main{
        margin-right: 0;
    }

    .imagen-main img{
        width: 330px;
    }

    .article-div{
       text-align: center;
    }

    .section-main .boton{
        margin: 40px 0px 60px 0px;
    }

    .footer-section{
        justify-content: center;
        margin-right: 0px;
        margin-top: 10px;
    }

    .footer-section div{
        margin: 0 8px;

    }
}

@media screen and (max-width: 320px){
    .imagen-main img{
        width: 300px;
    }

    .article-div{
        width: 300px;
     }

     .logotipo{
        width: 120px;
        margin-top: 20px;
        margin-left: 30px;

    }
}